#
# 	Part of kde-service-menu-reimage Version 2.6.0
# 	Copyright (C) 2018-2019 Giuseppe Benigno <giuseppe.benigno(at)gmail.com>
# 	Copyright (C) 2024 Robert-André Mauchin <zebob.m(at)gmail.com>
#
# 	This program is free software: you can redistribute it and/or modify
# 	it under the terms of the GNU General Public License as published by
# 	the Free Software Foundation, either version 3 of the License, or
# 	(at your option) any later version.
#
# 	This program is distributed in the hope that it will be useful,
# 	but WITHOUT ANY WARRANTY; without even the implied warranty of
# 	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# 	GNU General Public License for more details.
#
# 	You should have received a copy of the GNU General Public License
# 	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

[Desktop Entry]
Actions=agif;apng;webp;append_right;_SEPARATOR_;gray;sepia;transparent2color;_SEPARATOR_;border;border_transparent;shadow;
MimeType=image/*
Name=ReImage tools service menu
TryExec=reimage-kdialog
Type=Service
X-KDE-Submenu=ReImage - Tools
X-KDE-Submenu[it]=ReImage - Utilità

################################################################################

[Desktop Action agif]
Exec=reimage-kdialog agif %F
Icon=video-x-mp4
Name=Create animated GIF
Name[it]=Crea GIF

[Desktop Action apng]
Exec=reimage-kdialog apng %F
Icon=video-x-mp4
Name=Create animated PNG
Name[it]=Crea PNG animata

# [Desktop Action avif]
# Exec=reimage-kdialog avif %F
# Icon=video-x-mp4
# Name=Create animated AVIF
# Name[it]=Crea AVIF
#
# [Desktop Action jxl]
# Exec=reimage-kdialog jxl %F
# Icon=video-x-mp4
# Name=Create animated JXL
# Name[it]=Crea JXL
#
# [Desktop Action heif]
# Exec=reimage-kdialog heif %F
# Icon=video-x-mp4
# Name=Create animated HEIF
# Name[it]=Crea HEIF

[Desktop Action webp]
Exec=reimage-kdialog webp %F
Icon=video-x-mp4
Name=Create animated WEBP
Name[it]=Crea WEBP animata

[Desktop Action append_right]
Exec=reimage-kdialog montage %F
Icon=image-flip-horizontal-symbolic
Name=Append to right
Name[it]=Appendi immagine a destra

################################################################################

[Desktop Action gray]
Exec=reimage-kdialog colorspace gray %F
Icon=viewimage
Name=GrayScale
Name[it]=Scala di grigi

[Desktop Action sepia]
Exec=reimage-kdialog sepia 80% %F
Icon=color-management
Name=Sepia
Name[it]=Seppia

[Desktop Action transparent2color]
Exec=reimage-kdialog transparent2color %F
Icon=backgroundtool
Name=Change transparent to color
Name[it]=Cambia trasparenza a colore

################################################################################

[Desktop Action border]
Exec=reimage-kdialog border custom %F
Icon=bordertool
Name=Add colored border
Name[it]=Aggiungi bordo colorato

[Desktop Action border_transparent]
Exec=reimage-kdialog border transparent %F
Icon=box
Name=Add transparent border
Name[it]=Aggiungi bordo trasparente

[Desktop Action shadow]
Exec=reimage-kdialog shadow %F
Icon=bwtonal
Name=Drop shadow
Name[it]=Aggiungi ombra
