#
# 	Part of kde-service-menu-reimage Version 2.6.0
# 	Copyright (C) 2018-2019 Giuseppe Benigno <giuseppe.benigno(at)gmail.com>
# 	Copyright (C) 2024 Robert-André Mauchin <zebob.m(at)gmail.com>
#
# 	This program is free software: you can redistribute it and/or modify
# 	it under the terms of the GNU General Public License as published by
# 	the Free Software Foundation, either version 3 of the License, or
# 	(at your option) any later version.
#
# 	This program is distributed in the hope that it will be useful,
# 	but WITHOUT ANY WARRANTY; without even the implied warranty of
# 	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# 	GNU General Public License for more details.
#
# 	You should have received a copy of the GNU General Public License
# 	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Desktop Entry]
Actions=progressive;optimize;_SEPARATOR_;compress_50;compress_70;compress_75;compress_80;compress_90;custom_compress;_SEPARATOR_;resize_25;resize_33;resize_50;resize_67;resize_75;_SEPARATOR_;320x240;800x600;_SEPARATOR_;1024x768;1200x900;1400x1050;_SEPARATOR_;1920x1080;1920x1200;2560x1080;_SEPARATOR_;2560x1440;2560x1600;3440x1440;_SEPARATOR_;3840x2160;5120x2160;_SEPARATOR_;custom_resize;
MimeType=image/*
Name=ReImage compress and resize service menu
TryExec=reimage-kdialog
Type=Service
X-KDE-Submenu=ReImage - Compress and resize
X-KDE-Submenu[it]=ReImage - Compressione e ridimensionamento

################################################################################

[Desktop Action progressive]
Exec=reimage-kdialog progressive %F
Icon=viewhtml
Name=Make progressive
Name[it]=Rendi progressiva

[Desktop Action optimize]
Exec=reimage-kdialog optimize %F
Icon=viewhtml
Name=Complete optimization for web
Name[it]=Ottimizzazione completa per il web

[Desktop Action compress_50]
Exec=reimage-kdialog compress 50% %F
Icon=application-x-compressed-tar
Name=Compress at 50%
Name[it]=Comprimi al 50%

[Desktop Action compress_70]
Exec=reimage-kdialog compress 70% %F
Icon=application-x-compressed-tar
Name=Compress at 70%
Name[it]=Comprimi al 70%

[Desktop Action compress_75]
Exec=reimage-kdialog compress 75% %F
Icon=application-x-compressed-tar
Name=Compress at 75%
Name[it]=Comprimi al 75%

[Desktop Action compress_80]
Exec=reimage-kdialog compress 80% %F
Icon=application-x-compressed-tar
Name=Compress at 80%
Name[it]=Comprimi al 80%

[Desktop Action compress_90]
Exec=reimage-kdialog compress 90% %F
Icon=application-x-compressed-tar
Name=Compress at 90%
Name[it]=Comprimi al 90%

[Desktop Action custom_compress]
Exec=reimage-kdialog compress custom %F
Icon=application-x-compressed-tar
Name=Custom quality
Name[it]=Qualità personalizzata

################################################################################

[Desktop Action resize_25]
Exec=reimage-kdialog resize 25% %F
Icon=image-resize-symbolic
Name=Resize at 25%
Name[it]=Ridimensiona al 25%

[Desktop Action resize_33]
Exec=reimage-kdialog resize 33% %F
Icon=image-resize-symbolic
Name=Resize at 33%
Name[it]=Ridimensiona al 33%

[Desktop Action resize_50]
Exec=reimage-kdialog resize 50% %F
Icon=image-resize-symbolic
Name=Resize at 50%
Name[it]=Ridimensiona al 50%

[Desktop Action resize_67]
Exec=reimage-kdialog resize 67% %F
Icon=image-resize-symbolic
Name=Resize at 67%
Name[it]=Ridimensiona al 67%

[Desktop Action resize_75]
Exec=reimage-kdialog resize 75% %F
Icon=image-resize-symbolic
Name=Resize at 75%
Name[it]=Ridimensiona al 75%

################################################################################

[Desktop Action 320x240]
Exec=reimage-kdialog resize 320x240 %F
Icon=image-resize-symbolic
Name=Resize at 320x240 px
Name[it]=Ridimensiona a 320x240 px

[Desktop Action 640x480]
Exec=reimage-kdialog resize 640x480 %F
Icon=image-resize-symbolic
Name=Resize at 640x480 px
Name[it]=Ridimensiona a 640x480 px

[Desktop Action 800x600]
Exec=reimage-kdialog resize 800x600 %F
Icon=image-resize-symbolic
Name=Resize at 800x600 px
Name[it]=Ridimensiona a 800x600 px

[Desktop Action 1024x768]
Exec=reimage-kdialog resize 1024x768 %F
Icon=image-resize-symbolic
Name=Resize at 1024x768 px
Name[it]=Ridimensiona a 1024x768 px

[Desktop Action 1200x900]
Exec=reimage-kdialog resize 1200x900 %F
Icon=image-resize-symbolic
Name=Resize at 1200x900 px
Name[it]=Ridimensiona a 1200x900 px

[Desktop Action 1400x1050]
Exec=reimage-kdialog resize 1400x1050 %F
Icon=image-resize-symbolic
Name=Resize at 1400x1050 px
Name[it]=Ridimensiona a 1400x1050 px

[Desktop Action 1920x1080]
Exec=reimage-kdialog resize 1920x1080 %F
Icon=image-resize-symbolic
Name=Resize at 1920x1080 px
Name[it]=Ridimensiona a 1920x1080 px

[Desktop Action 1920x1200]
Exec=reimage-kdialog resize 1920x1200 %F
Icon=image-resize-symbolic
Name=Resize at 1920x1200 px
Name[it]=Ridimensiona a 1920x1200 px

[Desktop Action 2560x1080]
Exec=reimage-kdialog resize 2560x1080 %F
Icon=image-resize-symbolic
Name=Resize at 2560x1080 px
Name[it]=Ridimensiona a 2560x1080 px

[Desktop Action 2560x1440]
Exec=reimage-kdialog resize 2560x1440 %F
Icon=image-resize-symbolic
Name=Resize at 2560x1440 px
Name[it]=Ridimensiona a 2560x1440 px

[Desktop Action 2560x1600]
Exec=reimage-kdialog resize 2560x1600 %F
Icon=image-resize-symbolic
Name=Resize at 2560x1600 px
Name[it]=Ridimensiona a 2560x1600 px

[Desktop Action 3440x1440]
Exec=reimage-kdialog resize 3440x1440 %F
Icon=image-resize-symbolic
Name=Resize at 3440x1440 px
Name[it]=Ridimensiona a 3440x1440 px

[Desktop Action 3840x2160]
Exec=reimage-kdialog resize 3840x2160 %F
Icon=image-resize-symbolic
Name=Resize at 3840x2160 px
Name[it]=Ridimensiona a 3840x2160 px

[Desktop Action 5120x2160]
Exec=reimage-kdialog resize 5120x2160 %F
Icon=image-resize-symbolic
Name=Resize at 5120x2160 px
Name[it]=Ridimensiona a 5120x2160 px

################################################################################

[Desktop Action custom_resize]
Exec=reimage-kdialog resize custom %F
Icon=image-resize-symbolic
Name=Custom resize
Name[it]=Ridimensionamento personalizzato
